# Requirements without version specifiers
# ------------------------------------------------------------------------------
coloredlogs
quine-mccluskey
argparse

# Note:
# - the following packages don't need to be mentioned here:
#   json, math, textwrap, logging
#   (or I may be missing something)
